doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet", href="/public/css/main.css")
    link(rel="stylesheet", href="/public/css/gallery.css")
    link(rel="stylesheet", href="/public/assets/font_awesome/css/all.css")

  body
    block header
      header
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          a(href='/')
            img#logo(src="/public/uploads/logo.jpeg" alt="Veterinarians List")
          ul.navbar-nav.mr-auto
            each item in h.menu
              li.nav-item
                a.nav-link(href=item.slug)
                  i.fas(class=item.icon)
                  span  #{item.title}
          ul.navbar-nav
            if (user)
              li.profile.nav-item
                a.nav-link(href='/account')
                  i.fas.fa-user-circle
                  span= ` ${user.first_name} ${user.last_name}`
              li.logout.nav-item
                a.nav-link(href='/logout')
                  i.fas.fa-sign-out-alt
                  span  Logout
            else
              li.login.nav-item
                a.nav-link(href='/login')
                  i.fas.fa-sign-in-alt
                  span  Login
              li.register.nav-item
                a.nav-link(href='/register')
                  i.fas.fa-user-plus
                  span  Register

    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;

    .container
      block content

    block footer
      footer.card-footer.text-muted
        span Vets List 2019

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/public/js/index.js")
      