extends layout

include mixins/_ratingStars

block content
    - const vetEditors = vet.editors || []
    - const parsedVetEditors = vetEditors.join(',').split(',')
    .form-group
        button.btn.btn-info.btn-sm(onclick="history.back(-1)")
            i.fas.fa-arrow-left
            span  Back
    if admin || (user && parsedVetEditors.includes(user._id.toString()))
        .form-group
            a.btn.btn-primary(href=`/vet/${vet.slug}/edit`) Edit
    - const logoUrl = (vet.vet_logo) ? `${vet.slug}/${vet.vet_logo}` : 'logo.jpeg'
    img.float-right.ml-3(src=`/public/uploads/vets_logos/${logoUrl}` alt=vet.name width=300)
    .form-group
        h2 #{vet.name}
    .form-group
        +ratingStars(vet)
    .form-group
        span.font-weight-light.white-spaces #{vet.description}
    .form-group
        each tag in vet.tags
            span.badge.badge-pill.badge-secondary.mr-1= tag.name
    h4.small-title Address
    .form-group
        span.single__location.font-weight-bold= vet.location.address
    .form-group
        img.single__map.img-fluid(src=h.staticMap(vet.location.coordinates))
    - const numberOfImages = (vet.vet_gallery).length || 0
    - let i = 1
    - let j = 1
    - if (numberOfImages > 0) {
    h4.small-title Gallery
    .form-group.slideshow-container
        each image in vet.vet_gallery
            .slide
                .number= `${i} / ${numberOfImages}`
                img(src=`/public/uploads/vets_galleries/${vet.slug}/${image}` alt=vet.name)
                - i++
        a.prev
            i.fas.fa-chevron-left
        a.next
            i.fas.fa-chevron-right
        div.dots
            each image in vet.vet_gallery
                span.dot(data-slide=`${j}`)
                - j++
    - }
