mixin vetForm(vet = {}, tags = {}, editors = {}, formAction)
    form.edit(action=formAction method="POST" enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input(type="text" name="name" value=vet.name class="form-control" placeholder="Name")
        .form-group
            label(for="description") Description
            textarea(type="text" name="description" class="form-control" placeholder="Description")= vet.description
        .form-group
            label(for="address") Address
            input(type="text" id="address" name="location[address]" value=(vet.location && vet.location.address) placeholder="Full address" class="form-control")
        .form-group
            label(for="lng") Address Lng
            input(type="text" id="lng" name="location[coordinates][0]" value=(vet.location && vet.location.coordinates[0]) class="form-control" placeholder="Longitude" required readonly)
            label(for="lng") Address Lat
            input(type="text" id="lat" name="location[coordinates][1]" value=(vet.location && vet.location.coordinates[1]) class="form-control" placeholder="Latitude" required readonly)
        - const vetTags = vet.tags || []
        - const parsedVetTags = vetTags.join(',').split(',')
        .tags
            p Tags
            each tag in tags
                .form-group.form-check.form-check-inline
                    input(type="checkbox" id=tag._id value=tag._id name="tags" class="form-check-input" checked=(parsedVetTags.includes(tag._id.toString())))
                    label(for=tag._id class="form-check-label") #{tag.name}
        .form-group
            label(for="vet_logo") Logo
            input(type="file" class="form-control-file" id="vet_logo" name="vet_logo")
            if vet.vet_logo 
                img(src=`/public/uploads/vets_logos/${vet.slug}/${vet.vet_logo}` alt=vet.name width=200)
        .form-group.gallery
            label(for="vet_gallery") Gallery
            input(type="file" class="form-control-file" id="vet_gallery" name="vet_gallery" multiple)
            if vet.vet_gallery
                each image in vet.vet_gallery
                    .gallery-small(id=image)
                        img.image-small(src=`/public/uploads/vets_galleries/${vet.slug}/${image}` alt=vet.name width=200)
                        span.js-removeGalleryImage.trash-small.trash-icon.fas.fa-trash(data-id=image)
        .form-group
            - const vetEditors = vet.editors || []
            - const parsedVetEditors = vetEditors.join(',').split(',')
            label.font-weight-light Assign editor(s):
            select.form-control(name='editors' multiple)
                each editor in editors
                    option.text-uppercase(name=editor._id value=editor._id selected=(parsedVetEditors.includes(editor._id.toString())))= `${editor.first_name} ${editor.last_name}`
        input.btn.btn-success(type="submit" value=title)
        